{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    {% for announcement in announcements %}
        {% if announcement.id <= 2 %}
            <br/> Announcement :<br/>
            Id = {{ announcement.id }}<br/>
            Title =  {{ announcement.title }}<br/>
            Content = {{ announcement.content }}<br/>
            Price = {{ announcement.price }}<br/>
            Created Date = {{ announcement.getCreatedAt() | date('d/m/Y') }}<br/>
            <a href='{{ path('detail', {'id': announcement.id })}}'>Détails</a><br/>
        {% endif %}
    {% endfor %}

    {%  if is_granted('ROLE_USER')  %}
    <b>Bonjour {{ app.user.firstName }}</b>
        <a href='{{ path('app_logout') }}'>logout</a>
    {% else %}
        <a href='{{ path('app_login') }}'>login</a>
    {% endif %}
{% endblock %}
